<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.odirus.ideas"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ToDoListApplication"
        android:icon="@drawable/todo"
        android:theme="@android:style/Theme.Holo.Light"
        android:label="@string/app_name">
        <activity
            android:name="ToDoListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CreateTodo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="me.odirus.ideas" />
                <data android:host="avoscloud" />
                <data android:pathPrefix="/classes/Todo/" />
            </intent-filter>
        </activity>
        <activity android:name="com.avos.avoscloud.search.SearchActivity" />
    </application>

</manifest>